@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    margin: 0;
    background-color: hsl(0deg 0% 10%);
    font-family: 'Roboto', Arial, sans-serif;
}

/* NAVIGATION BAR */
.navbar {
    width: 100%;
    height: 10%;
    background-color: hsl(0deg 0% 13%);
    padding: 12px;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


#nav-icon {
    height: 44px;
    width: 44px;
}


#bar {
    background-color: #131313;
    color: white;
    font-size: medium;
    border: 1px solid #303030;
    height: 30px;
    width: 500px;
    padding: 0px 8px;
}

#bar:focus {
    outline: none;
    border: 1px solid hsl(213deg 73% 42%);
}

#start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


#searchbutton {
    border: none;
}

#end {
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.icon {
    height: 24px;
    width: 24px;
    margin: 0px 12px;
}
